@import "theme.css";

/* reset */

p {
   margin: 0;
}

/* logo */
.logo-small {
    width: 40px;
    height: 40px;
}

.logo-medium {
    width: auto;
    height: 100px;
}

.logo-large {
    width: 300px;
    height: 300px;
}

.logo-text-small {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
}

.logo-text-large {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 100%;
}

/* article */

.article-date {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 1rem))
}

/* utils */

.mb-2px {
    margin-bottom: 2px;
}