@import "theme.css";

/* reset */

p, h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

/* logo */
.logo-small {
    width: 40px;
    height: 40px;
}

.logo-medium {
    width: auto;
    height: 60px;
}

.logo-large {
    width: 300px;
    height: 300px;
}

.logo-text-small {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
}

.logo-text-medium {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 100%;
}

.logo-text-large {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 100%;
}

/* article */

.article-date {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 1rem))
}

/* utils */

.mb-2px {
    margin-bottom: 2px;
}

.article-profile-card {
    position: relative;
}

.article-profile-card div {
    height: 250px;
    overflow: hidden;
}

.article-profile-card div::after {
    content: 'Tytuł ksiązki';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    font-weight: normal;
    color: #000;
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
}

.article-profile-card div:hover::after {
    opacity: 1;
}

.article-profile-card img {
    object-position: center center;
    width: 100%;
    height: 100%;
}

/* CREATE POST MODAL */
.modal.fade .modal-dialog {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

.modal.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
}

.modal-content {
    background-color: var(--bs-body-bg);
}

.modal-header .btn-close {
   position: absolute;
   right: 16px;
   top: 16px;
}

.file-upload-area {
    position: relative;
    width: 50%;
    border: 1px dashed var(--bs-border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.file-upload-area:hover {
    border-color: #000;
}

.file-upload-area input {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   opacity: 0;
   cursor: pointer;
}