@import "theme.css";

/* reset */

p, h1, h2, h3, h4, h5, h6 {
   margin: 0;
}

input:focus, textarea:focus,
input:focus-visible, textarea:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px #3a3630 !important;
  border-color: #3a3630 !important;
}

/* logo */
.logo-small {
    width: 40px;
    height: 40px;
}

.logo-medium {
    width: auto;
    height: 60px;
}

.logo-large {
    width: 300px;
    height: 300px;
}

.logo-text-small {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    line-height: 100%;
}

.logo-text-medium {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 60px;
    line-height: 100%;
}

.logo-text-large {
    font-family: "Meow Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 100px;
    line-height: 100%;
}

/* article */

.article-date {
    font-size: 14px;
    line-height: 18px;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(calc(-100% - 1rem))
}

/* utils */

.mb-2px {
    margin-bottom: 2px;
}

.article-profile-card {
    position: relative;
}

.article-profile-card div {
    height: 250px;
    overflow: hidden;
}

.latest-post-image {
   position: relative;
}

.article-profile-card div::after, .latest-post-image::after {
    content: attr(data-title);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    position: absolute;
    inset: 0;
    background-color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    backdrop-filter: blur(2px);
}

.article-profile-card div:hover::after, .latest-post-image:hover::after {
    opacity: 1;
}

.article-profile-card img {
    object-position: center center;
    width: 100%;
    height: 100%;
}

/* CREATE POST MODAL */
.modal.fade .modal-dialog {
    transform: scale(0.9);
    opacity: 0;
    transition: transform 0.1s ease-out, opacity 0.1s ease-out;
}

.modal.show .modal-dialog {
    transform: scale(1);
    opacity: 1;
}

.modal-content {
    background-color: var(--bs-body-bg);
}

.modal-header .btn-close {
   position: absolute;
   right: 16px;
   top: 16px;
}

.file-upload-area {
    position: relative;
    width: 50%;
    border: 1px dashed var(--bs-border-color);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.file-upload-area:hover {
    border-color: #000;
}

.file-upload-area input[type="file"] {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  .image-preview {
    position: relative;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
  }

  .image-preview img {
    max-width: 100%;
    object-fit: contain;
    border-radius: 8px;
  }

  .image-preview button {
    position: absolute;
    inset: 0;
    cursor: pointer;
    transition: all 0.3s ease;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.25);
    border: none;
    backdrop-filter: blur(2px);
  }

  .image-preview button:hover {
    opacity: 1;
  }

  .image-preview button i {
    font-size: 30px;
    font-weight: bold;
  }

/* alert */

@keyframes slideUp {
    from {
      opacity: 0;
      transform: translateY(20px) translateX(-50%);
    }
    to {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }
  
  .alert-animated {
    animation: slideUp 0.3s ease-out;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    bottom: 0;
    position: fixed;
    width: 300px;
    text-align: center;
  }


  .save-post-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 24px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

/* post detail */

.post-details .post-image img {
    width: auto;
    aspect-ratio: 1/1;
    max-height: 500px;
    object-fit: contain;
}

.read-more-link {
  display: inline-flex;
  color: #6c757d;
  text-decoration: none;
  font-size: inherit;
  margin-top: 2px;
  margin-left: auto;
}

.read-more-link:hover {
  color: #000;
  text-decoration: underline;
}


/* utils */

.truncate-long-text {
  display: -webkit-box;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

