{% extends "base.html" %}

{% block body_class %}auth-page{% endblock %}

{% block body %}
<div class="d-flex flex-column align-items-center justify-content-center min-vh-100">
  <div class="d-flex flex-column gap-4">
    <header class="d-flex flex-column justify-content-center align-items-center gap-3">
      <img src="{{ url_for('static', filename='images/logo.svg') }}" alt="Logo" class="logo-medium" />
      <span class="logo-text-large">Readmates</span>
    </header>

    <main>
      <h1 class="visually-hidden">{% block auth_title %}{% endblock %}</h1>

      {% block content %}{% endblock %}
    </main>
 </div>
  </div>
</div>
{% endblock %}