{% extends "base_auth.html" %}

{% block title %}Logowanie{% endblock %}
{% block auth_title %}Logowanie{% endblock %}


{% block content %}

<form method="POST" action="{{ url_for('login') }}" class="d-flex flex-column gap-3">
    {{ form.hidden_tag() }}  

    <div>
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control form-control-sm") }}
        {% if form.username.errors %}
            <span class="error">{{ form.username.errors[0] }}</span>
        {% endif %}
    </div>

    <div>
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control form-control-sm") }}
        {% if form.password.errors %}
            <span class="error">{{ form.password.errors[0] }}</span>
        {% endif %}
    </div>

    {{ form.submit(class="btn btn-primary") }}

    <p class="text-center small text-muted">Nie masz jeszcze konta? <a href="{{ url_for('register') }}">Zarejestruj się</a></p>
</form>


{% endblock %}
