{% extends "base.html" %} {% block title %}Logowanie{% endblock %} {% block
    content %}
    <section
      class="container col-md-6 d-flex flex-column justify-content-center vh-100"
    >
      <h1 class="mb-5">Logowanie</h1>
    
      <form method="POST" action="/login">
        <div class="row mb-3">
          <label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input
              name="email"
              type="email"
              class="form-control"
              id="inputEmail3"
              required
            />
          </div>
        </div>
        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label"
            >Password</label
          >
          <div class="col-sm-10">
            <input
              name="password"
              type="password"
              class="form-control"
              id="inputPassword3"
              required
            />
          </div>
        </div>
        <button type="submit" class="btn btn-primary mt-3">Sign in</button>
      </form>
    </section>
    {% endblock %}
    